*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* ========= header ============ */

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1500px;
    height: 400px;
    background-color: #707070;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 65%);
    color: white;
}

.header .header-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.header .header-text h1{
    font-size: 40px;
}

.header .header-text h2{
    margin-top: 35px;
    font-size: 20px;
}

.header .header-text h3{
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 100;
}

.header .desktop-menu{
    width: 100%;
}

.header .desktop-menu nav{
    display: flex;
    justify-content: center;
}

.header .desktop-menu nav ul{
    width: 770px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.header .desktop-menu nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 160px;
    height: 40px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px #00000029;
}

.header .desktop-menu nav ul li a{
    text-decoration: none;
    color: #707070;
    font-size: 14px;

}

/* ========= FORM TEXT ==========*/

.form{
    width: 1500px;
    display: flex;
    justify-content: space-evenly;
}
.form .text{
    width: 520px;
    margin-left: 30px;
    margin-right: 30px;
    margin-left: auto;
}
.form .text h4{
    color: #888888;
    font-size: 20px;
}
.form .text p{
    margin-top: 30px;
    color: #888888;
    font-size: 14px;
}
/* ========== FORM ============*/
.form .sub-form{
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 290px;
    margin-right: auto;

}
.form .sub-form form{
    width: 340px;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.form .sub-form form label{
    color: #888888;
    font-size: 12px;
    font-weight: 100;
}
.form .sub-form form input{
    width: 340px;
    height: 30px;
}

.form .sub-form .checkboxes{
    display: flex;
}

.form .sub-form .checkboxes label{
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.form .sub-form .checkboxes #check_masculino,
.form .sub-form .checkboxes #check_feminino{
    width: 14px;
    height: 14px;
    margin-right: 5px;
    border-radius: 50%;
    border: 1px solid #888888;
    appearance: none;
}
.form .sub-form .checkboxes #check_masculino:checked{
    background-color: green;
}
.form .sub-form .checkboxes #check_feminino:checked{
    background-color: green;
}
.form .sub-form form button{
    background-color: #FFFFFF;
    color: #707070;
    border: 1px solid #707070;
    border-radius: 4px;
    width: 340px;
    height: 40px;
}